body{
    background-color: white;
}

#psr{
    width: 300px;
    height: 150px;
    margin-left: 40px;
    margin-top: 20px;;
    border-style: inset;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    color: aliceblue;
    background-color: black; 
    border-style: none;
    color: none;
    text-shadow: 5px 10px 20px;
    

}

#gg{
    background-color: black;
    width: 400px;
    height:570px;
    margin-left: 700px;
    margin-top: 70px;
    border-radius: 100px;
    border-style: groove;
    box-shadow: 10px 10px 30px black;

}

